[Unit]
Description=AWX web service
After=syslog.target network.target
PartOf=awx.service
After=awx.service

[Service]
EnvironmentFile=-/etc/sysconfig/awx
Environment=AWX_SETTINGS_FILE=/etc/tower/settings.py
Environment=PATH="/bin:/sbin:/usr/bin:/usr/sbin:{{ venv }}/bin"
User=awx
PermissionsStartOnly=true
ExecStart="/usr/local/bin/awxwebservice.sh"
#ExecReload=/bin/kill -HUP $MAINPID
#KillMode=process
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=awx.service
